<br><br>Task:
<input type="text" name="oneTask" [(ngModel)]='oneTask' placeholder="Add your task...">
<button (click)="sayhello()"> Add Task</button>
<br>
<ol>
  <li *ngFor="let t of myTasks; let currentTask =index">{{t | lowercase}}
    &nbsp;
    <button (click)="taskDone(currentTask)">Done</button>
  </li>
</ol>
<br><br>My completed Tasks:
<ol>
  <li *ngFor="let m of mycompletedTask; let currentTask =index">{{m}}
    <br>
  </li>
</ol>
Curreny Pipe:{{salary | currency:'INR' }}
<br>
Date Pipe: {{ myDate | date:'h:mm' }}
<br>
unsorted Friends: {{ friends}}
<br>
Sorted Friends:{{friends|stringSortPipe}}
<br>
Unsorted Number={{number}}
<br>
Number Sort:{{number |numberSortPipe}}